@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --geist-primary: #2b2f67;
  --geist-secondary: #8f092f;
  --geist-accent: #8f092f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--geist-primary);
  --color-secondary: var(--geist-secondary);
  --color-accent: var(--geist-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1350px;
}
